<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QiPOSDb" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;AttachDbFilename=C:\data\cornucopia.mdf;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="ARCADIA" />
    <add key="DatabaseName" value="cornucopia" />
    <add key="PosPrinter" value="CITIZEN CT-S310" />
    <add key="LineDisplayPort" value="COM3" />
    <add key="CompanyName" value="North Ryde Newsagency" />
    <add key="CompanyABN" value="61102765533" />
    <add key="AddressLine1" value="12 Blenheim Road" />
    <add key="AddressCity" value="North Ryde NSW 2113" />
    <add key="AddressCity2" value="" />
    <add key="Telephone" value="02 9878 1666" />
    <add key="Fax" value="02 9878 1666" />
    <add key="Email" value="jessywang53@gmail.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>